<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="~{fragments/header :: header}">
		<meta charset="UTF-8">
		<title>修改密码</title>
	</head>

	<body  style="background:#f1f1f1 ">


	<div class="container border1 nopadding margin10">
		<div id="vertical_navigation" class="col-lg-3 background831312 nopadding">
			<div class="dead_pic"><img th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.avatar}"
									   src="img/member_center/nopic.jpg.png"><br>
				<span id="username1" class="username"
					  th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}">用户名</span></div>
			<div class="usertype">用户角色:<span sec:authentication="principal.authorities"></span> </div>
			<div class="menu">
				<div class="menu_title"> 我的信息</div>
				<div class="menu_list">
					<ul class="list-unstyled">
						<li  ><img th:src="@{../pro/img/member_center/left_icon_1.png}"
													   src="img/member_center/left_icon_1.png"> <a
								th:href="'/' + ${#authentication.name} + '/personal'">基本信息</a></li>
						<li id="listClick2"  onClick="listClick(2)"><img
								th:src="@{../pro/img/member_center/left_icon_2.png}"
								src="img/member_center/left_icon_2.png"> <a
								th:href="@{/makephoto}">修改头像</a></li>
						<li class="menu_list_on"> <img th:src="@{../pro/img/member_center/left_icon_3.png}"
								 src="img/member_center/left_icon_3.png"> <a
								th:href="@{/makepassword}">修改密码</a></li>
					</ul>
				</div>
			</div>
			<div class="menu">
				<div class="menu_title"> 我的成绩</div>
				<div class="menu_list">
					<ul class="list-unstyled">
						<li id="listClick6" onClick="listClick(6)"><img
								th:src="@{../pro/img/member_center/left_icon_6.png}"
								src="img/member_center/left_icon_6.png"> <a
								th:href="'/' + ${#authentication.name} + '/chengji'">我的成绩</a></li>
						<li id="listClick5" class="" onClick="listClick(5)"><img
								th:src="@{../pro/img/member_center/left_icon_5.png}"
								src="img/member_center/left_icon_5.png"> <a
								th:href="'/' + ${#authentication.name} + '/qingjia'">在线请假</a></li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-lg-9">

				<!-- 开始 -->
				<div class="my_info_title">修改密码 <input type="hidden" name="username" id="userId"
                                                       th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></div>
				<div class="my_info_title_3">
					<ul>

						<li id="listClick_4" onClick="listClick(4)" style="border-bottom: 1px solid #C40521; color: black;">修改密码</li>
					</ul>
				</div>
				<div class="my_info_content">
					<div class="my_info_content_care">友好提示：请您按要求输入密码</div>


					<table class="my_info_content_care_table">
						<tbody>
							<tr>
								<td width="300" align="right" class="color555">旧密码：</td>
								<td class="color555"><input class="my_info_content_care_table_text" name="oldpassword" id="oldpassword" type="password">
									<span id="message1" class="colorCA1E37 margin_left10 font_size12">请输入旧密码</span></td>
							</tr>
							<tr>
								<td align="right" class="color555">新密码：</td>
								<td class="color555"><input id="newpassword" name="newpassword" class="my_info_content_care_table_text"  type="password">
									<span id="message2" class="colorCA1E37 margin_left10 font_size12">请输入新密码</span></td>
							</tr>
							<tr>
								<td align="right" class="color555">确认新密码：</td>
								<td class="color555"><input id="newpassword1" name="newpassword1" class="my_info_content_care_table_text"  type="password">
									<span id="message3" class="colorCA1E37 margin_left10 font_size12">请再次输入</span></td>
							</tr>

							<tr>
								<td align="center" class="color555" colspan="2"><input id="tijiao" class="my_info_content_care_table_submit" name="" type="button" value="申请认证"></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
	</div>




<script type="text/javascript">

    <!--为密码添加正则验证-->
    $('#newpassword').blur(function () {
        var reg = /^[\S]{6,12}$/;
        if (!($('#newpassword').val().match(reg))) {
            document.getElementById("message2").innerHTML = "<font color='red'>" + "密码必须6到12位，且不能出现空格" + "</font>"
        } else {
            document.getElementById("message2").innerHTML = "<font color='green'>" + "✔" + "</font>"
        }

        return false;
    });


    <!--验证两次密码是否一致-->
    $('#newpassword1').blur(function () {
        if ($('#newpassword1').val() != $('#newpassword').val()) {
            document.getElementById("message3").innerHTML = "<font color='red'>" + "两次密码输入不相同" + "</font>"
        } else {
            document.getElementById("message3").innerHTML = "<font color='green'>" + "✔" + "</font>"
        }
        ;
    });

    <!--旧密码是否正确-->
    $('#oldpassword').blur(function () {
        $.ajax(
            {
                url: '/check_password',
                data: {

                    username: $("#userId").val(),
                    oldpassword: $("#oldpassword").val()


                },
                async: true,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {

                        document.getElementById("message1").innerHTML = "<font color='green'>" + "✔" + "</font>"

                    }
                    else {
                        document.getElementById("message1").innerHTML = "<font color='red'>" + "密码不正确" + "</font>"


                    }
                }

            });
    });

    $("#tijiao").on('click', function () {
        var headers = {};
        headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
        $.ajax({
            type: "POST",
            async: true,
            headers: headers,
            url: "/save_password",//url
            dataType: "json",
            data: {
                username: $("#userId").val(),
                password:$("#newpassword").val(),
                password1:$("#newpassword1").val(),
                oldpassword: $("#oldpassword").val()

            },
            success: function (result) {
                console.log(result);
                if (result.code == 200) {
                    alert("修改成功");
                    setTimeout(function () {
                        window.parent.location.href = "/makepassword";
                    }, 1000);

                } else if (result.code == 3) {
                    setTimeout(function () {
                        window.parent.location.href = "/makepassword";
                    }, 1000);
                    alert("输入数据格式错误");

                }

            },
            error: function (result) {
                alert.log(result);//打印服务端返回的数据(调试用)
            }

        });
        return false;

    });

</script>
	<footer>
		<div class="container">
			<div class="row">
				<div class="ac-gf-footer-legal">
					<div class="footer-legal-links">
						<a href="index.html">首页</a>
						<div class="bor-line"></div>
						<a href="#">产品服务</a>
						<div class="bor-line"></div>
						<a href="#">解决方案</a>
						<div class="bor-line"></div>
						<a href="news.html">新闻中心</a>
						<div class="bor-line"></div>
						<a href="#">关于我们</a>
					</div>
					<div class="footer-beizhu">Copyright © 2018 VR科技有限公司 鲁ICP备111111111号-8</div>
				</div>
			</div>
		</div>
	</footer>

	</body>

</html>