<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>

<body  style="background:#f1f1f1 ">


<div class="container border1 nopadding margin10">
    <div id="vertical_navigation" class="col-lg-3 background831312 nopadding">
        <div class="dead_pic"><img th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.avatar}"
                                   src="img/member_center/nopic.jpg.png"><br>
            <span id="username1" class="username"
                  th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}">用户名</span></div>
        <div class="usertype">用户角色:<span sec:authentication="principal.authorities"></span></div>
        <div class="menu">
            <div class="menu_title"> 我的信息</div>
            <div class="menu_list">
                <ul class="list-unstyled">
                    <li><img th:src="@{../pro/img/member_center/left_icon_1.png}"
                             src="img/member_center/left_icon_1.png"> <a
                            th:href="'/' + ${#authentication.name} + '/personal'">基本信息</a></li>
                    <li id="listClick2" onClick="listClick(2)"><img
                            th:src="@{../pro/img/member_center/left_icon_2.png}"
                            src="img/member_center/left_icon_2.png"> <a
                            th:href="@{/makephoto}">修改头像</a></li>
                    <li><img th:src="@{../pro/img/member_center/left_icon_3.png}"
                             src="img/member_center/left_icon_3.png"> <a
                            th:href="@{/makepassword}">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <div class="menu_title"> 我的成绩</div>
            <div class="menu_list">
                <ul class="list-unstyled">
                    <li id="listClick6" onClick="listClick(6)"><img
                            th:src="@{../pro/img/member_center/left_icon_6.png}"
                            src="img/member_center/left_icon_6.png"> <a
                            th:href="'/' + ${#authentication.name} + '/chengji'">我的成绩</a></li>
                    <li id="listClick5" class="menu_list_on" onClick="listClick(5)"><img
                            th:src="@{../pro/img/member_center/left_icon_5.png}"
                            src="img/member_center/left_icon_5.png"> <a
                            th:href="'/' + ${#authentication.name} + '/qingjia'">在线请假</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-lg-9">

        <!-- 开始 -->
        <div class="my_info_title">在线请假
        </div>
        <div class="my_info_title_3">
            <ul>

                <li id="listClick_4" onClick="listClick(4)" style="border-bottom: 1px solid #C40521; color: black;">请假
                </li>
            </ul>
            <ul>

                <li id="" onClick="listClick(4)" style="border-bottom: 1px solid #C40521; color: black;">请假记录</li>
            </ul>


        </div>
        <div class="my_info_content">


            <table class="layui-hide" id="test" lay-filter="teamTool"></table>

        </div>

    </div>
</div>


<script th:src="@{../layui/jquery-3.3.1.min.js}"></script>
<script th:src="@{../layui/layui.js}" src="../layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        var userName = document.getElementById('username1').innerText;
        table.render({
            elem: '#test'
            ,url:'/list_my_leavess'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,where:{
                userName:userName,
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', width: 150, title: 'ID', sort: true, align: 'center'}
                    , {field: 'stuId', width: 150, title: '学号', align: 'center'}
                    , {field: 'className', width: 150, title: '班级',  align: 'center'}
                    , {field: 'star_date', width: 150, title: '日期', align: 'center'}
                    , {field: 'remarks', width: 150, title: '备注信息', align: 'center'}
                    , {field: 'state', width: 150, title: '当前状态', align: 'center'}

                ]
            ]

            ,done: function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                //console.log(res);
                //得到当前页码
                //console.log(curr);
                //得到数据总量
                //console.log(count);
                $(".layui-table-box").find("[data-field='id']").css("display","none");

                $("[data-field='state']").children().each(function(){
                    if($(this).text()=='1'){
                        $(this).text("已批准")
                    }else if($(this).text()=='0'){
                        $(this).text("未批准")
                    }
                });


                pageCurr=curr;
            }
        });
    });
</script>

<footer>
    <div class="container">
        <div class="row">
            <div class="ac-gf-footer-legal">
                <div class="footer-legal-links">
                    <a href="index.html">首页</a>
                    <div class="bor-line"></div>
                    <a href="#">产品服务</a>
                    <div class="bor-line"></div>
                    <a href="#">解决方案</a>
                    <div class="bor-line"></div>
                    <a href="news.html">新闻中心</a>
                    <div class="bor-line"></div>
                    <a href="#">关于我们</a>
                </div>
                <div class="footer-beizhu">Copyright © 2018 VR科技有限公司 鲁ICP备111111111号-8</div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>