<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


    <title>新闻中心</title>
</head>

<body>

<div class="w1200">

    <div class="container1">
        <div class="layui-carousel" id="test10">
            <div carousel-item="" >
                <div th:each="news1 : ${list1}"> <a th:href="'/' + ${news1.id} + '/news_info'" >  <img th:src="${news1.image}" src="//res.layui.com/images/layui/demo/1.png"> </a></div>
            </div>
        </div>
        <div class="vr_news_content">
            <div class="lanren">
                <ul class="list">
                    <li th:each="news : ${elist}">
                        <div class="row cl vr_news_item mb-30 ">
                            <a th:href="'/' + ${news.id} + '/news_info'" href="detail.html">
                                <div class="col-sm-2">
                                    <img th:src="${news.image}" src="images/b8aeed990b2a18b1fc4f46.jpg" alt="..."/>
                                </div>
                                <div class="col-sm-8">
                                    <h2 th:text="${news.title}">苹果近期为何不会做VR</h2>
                                    <p th:text="${news.jiesao}">就算问题只出在苹果最近的软件设计和反响平平的Apple Watch上，这家公司也绝不会让用户按照当前的要求去使用VR功能。</p>
                                </div>
                                <div class="col-sm-2">
                                    <h3 th:text="${news.date}">2018-05-24 18:02:53</h3>

                                    <h3 th:text="${news.style}">2018-05-24 18:02:53</h3>
                                </div>



                            </a>
                        </div>
                    </li>

                </ul>
                <div class="more text-c mb-50">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a th:if="${not elist.isFirst()}" th:href="@{/news(start=${elist.number -1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(1, elist.totalPages)}"
                                th:classappend="${(elist.number + 1) eq i} ? 'am-active' : ''">
                                <a th:href="@{/news(start=${i - 1})}"

                                   th:text="${i}" class="">1</a>
                            </li>

                            <li>
                                <a th:if="${not elist.isLast()}" th:href="@{/news(start=${elist.number+1})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li><span th:utext="'共'+${elist.totalPages}+'页 / '+${elist.totalElements}+' 条'"></span></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="ac-gf-footer-legal">
                <div class="footer-legal-links">
                    <a href="index.html">首页</a>
                    <div class="bor-line"></div>
                    <a href="#">产品服务</a>
                    <div class="bor-line"></div>
                    <a href="#">解决方案</a>
                    <div class="bor-line"></div>
                    <a href="news.html">新闻中心</a>
                    <div class="bor-line"></div>
                    <a href="#">关于我们</a>
                </div>
                <div class="footer-beizhu">Copyright © 2018 VR科技有限公司 鲁ICP备111111111号-8</div>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{../layui/jquery-3.3.1.min.js}"></script>
<script  th:src="@{../layui/layui.js}" src="../layui/layui.js"></script>

    <script>
        layui.use(['carousel', 'form','laypage', 'layer'], function(){
            var carousel = layui.carousel
                ,form = layui.form
                ,laypage = layui.laypage
                ,layer = layui.layer;


            //分页
            laypage.render({
                elem: 'demo2'
                ,count: 100
                ,theme: '#1E9FFF'
            });

            //常规轮播
            carousel.render({
                elem: '#test1'
                ,arrow: 'always'
            });

            //改变下时间间隔、动画类型、高度
            carousel.render({
                elem: '#test2'
                ,interval: 1800
                ,anim: 'fade'
                ,height: '120px'
            });

            //设定各种参数
            var ins3 = carousel.render({
                elem: '#test3'
            });
            //图片轮播
            carousel.render({
                elem: '#test10'
                ,width: '100%'
                ,height: '443px'
                ,interval: 5000
            });

            //事件
            carousel.on('change(test4)', function(res){
                console.log(res)
            });

            var $ = layui.$, active = {
                set: function(othis){
                    var THIS = 'layui-bg-normal'
                        ,key = othis.data('key')
                        ,options = {};

                    othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                    options[key] = othis.data('value');
                    ins3.reload(options);
                }
            };

            //监听开关
            form.on('switch(autoplay)', function(){
                ins3.reload({
                    autoplay: this.checked
                });
            });

            $('.demoSet').on('keyup', function(){
                var value = this.value
                    ,options = {};
                if(!/^\d+$/.test(value)) return;

                options[this.name] = value;
                ins3.reload(options);
            });

            //其它示例
            $('.demoTest .layui-btn').on('click', function(){
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });
        });
    </script>
</body>
</html>
