<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>后台管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script type="text/javascript" charset="utf-8" th:src="@{../ueditor/ueditor.config.js}"
            src="ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{../ueditor/ueditor.all.min.js}"
            src="ueditor.all.min.js"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" th:src="@{../ueditor/lang/zh-cn/zh-cn.js}"
            src="lang/zh-cn/zh-cn.js"></script>


</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">软件集训队后台管理</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="/admin/list_all">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a th:href="@{/list_Announcement}" href="">公告管理</a></dd>
                    <dd><a href="/admin/authorization">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li sec:authorize="isAuthenticated()" class="layui-nav-item">
                <a th:href="'/' + ${#authentication.name} + '/personal'">
                    <img src="http://t.cn/RCzsdCq"
                         th:src="${session.SPRING_SECURITY_CONTEXT.authentication.principal.avatar}"
                         class="layui-nav-img">
                    <span sec:authentication="name"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">

                <form name='form1' th:action="@{/logout}" method="post">
                    <a href='javascript:document.form1.submit();'>注销</a>
                </form>

            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">出勤管理</a>
                    <dl class="layui-nav-child">
                        <dd><a  th:href="@{/admin/qiandao}" href="javascript:;">签到信息</a></dd>
                        <dd><a th:href="@{/admin/list_leavess}" href="javascript:;">在线请假</a></dd>
                        <dd><a href="javascript:;">月考勤</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">成绩管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/to_save_grade}" href="javascript:;">成绩录入</a></dd>
                        <dd><a th:href="@{/list_grade}" href="javascript:;">详细成绩</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">资讯管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/admin/make_news}" href="">资讯发布</a></dd>
                        <dd><a th:href="@{/admin/list_news}" href="javascript:;">资讯列表</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">资源管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/save_resource}" href="">资源上传</a></dd>
                        <dd><a th:href="@{/list_resource}" href="javascript:;">资源列表</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">关于我们</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/admin/save_us_info}" href="">上传信息</a></dd>
                        <dd><a th:href="@{/admin/list_us_info}" href="javascript:;">信息列表</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>


    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px; ">
            <div class="layui-fluid">

                <form id="form1" class="layui-form layui-form-pane " action="">

                    <div class="layui-form-item">
                        <label class="layui-form-label">标题信息</label>
                        <div class="layui-input-block">
                            <input type="text" id="title" name="title" autocomplete="off" placeholder="请输入标题"
                                   class="layui-input">
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">简介</label>
                        <div class="layui-input-block">
                            <input type="text" id="jiesao" name="introduction" autocomplete="off" placeholder="请输入简介"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">发布人</label>
                        <div class="layui-input-inline">
                            <input type="text" id="author" name="publisher" lay-verify="required" placeholder="请输入"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">日期时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="test5" name="date"
                                       placeholder="yyyy-MM-dd HH:mm:ss">
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">内容详情’</label>
                        <div class="layui-input-block">
                            <!-- 富文本编辑器-->
                            <script id="container" name="content111" type="text/plain"></script>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="aaaaaaa">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        @滁州职业技术学院.16软件二班.王成龙
    </div>


</div>


<!-- 实例化编辑器 -->
<script type="text/javascript">
    var editor = UE.getEditor('container');
</script>
<script th:src="@{../layui/jquery-3.3.1.min.js}"></script>
<script th:src="@{../layui/layui.js}" src="../layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'upload', 'element'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , layedit = layui.layedit
            , laydate = layui.laydate
            , upload = layui.upload
            , element = layui.element;
        //日期时间选择器
        laydate.render({
            elem: '#test5'
            , type: 'date'
        });


        // // //监听提交
        form.on('submit(aaaaaaa)', function (data) {
            alert(JSON.stringify(data.field));
            var maintenancePlace = JSON.stringify(data.field);
            var headers = {};
            headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
            // var content112 = UE.getEditor('editor').getContentTxt();
            $.ajax({
                url: '/save_announcement',
                dataType: 'json',
                headers: headers,
                type: 'POST',
                data: $("#form1").serialize(),

                success: function (data) {
                    if (data.code == 200) {

                        layer.msg("添加成功", {icon: 6});

                        setTimeout(function () {

                            window.location.reload();//修改成功后刷新父界面
                        }, 1000);
                    }
                }
            })
            return false;
        });


    });
</script>


</body>
</html>